<form (submit)="login(userLogin)">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-5">
        <div class="card shadow">
          <div class="card-header">
            <img src="../../../../assets/img/Salus_logo-removebg-preview.png" class="img-fluid mx-auto d-block" alt="">
            <h2 class="text-center">Log in</h2>
          </div>
          <div class="card-body">
            <form>
              <div class="mb-3">
                <label for="email" class="form-label">Email address:</label>
                <input type="email" class="form-control" id="email" [(ngModel)]="userLogin.email" name="email" placeholder="Email">
                <p>Admin: vbazsi17@gmail.com</p>
                <p>User: vbazsi171@gmail.com</p>
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password:</label>
                <input type="password" class="form-control" id="password" [(ngModel)]="userLogin.password" name="password" placeholder="Password">
                <p>Pwd admin: vbazsi17</p>
                <p>Pwd user: vbazsi171</p>
              </div>
              <div *ngIf="errorMessageVerify" class="alert alert-danger text-center mt-2" role="alert">
                {{ errorMessageVerify }}
              </div>
              <div *ngIf="errorMessageLogin" class="alert alert-danger text-center mt-2" role="alert">
                {{ errorMessageLogin }}
              </div>
            </form>
            <div class="text-center">
              <button type="submit" class="btn btn-primary">Log in</button>
            </div>
          </div>
          <div class="card-footer text-center">
            <a routerLink="/ForgotPassword">Forgot password?</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>