<h2>Reset Password</h2>
<form (ngSubmit)="resetPassword(resetPasswordForm.value)" [formGroup]="resetPasswordForm">
  <div>
    <label for="password">New Password:</label>
    <input type="password" id="password" name="password" [(ngModel)]="resetPasswordData.password" formControlName="password">
    <div *ngIf="resetPasswordForm.get('password')?.invalid && (resetPasswordForm.get('password')?.dirty || resetPasswordForm.get('password')?.touched)">
      <div *ngIf="resetPasswordForm.get('password')?.errors?.['required']">Password is required</div>
      <div *ngIf="resetPasswordForm.get('password')?.errors?.['minlength']">Password must be at least 8 characters long</div>
      <div *ngIf="resetPasswordForm.get('password')?.errors?.['maxlength']">Password cannot be more than 20 characters long</div>
    </div>
  </div>
  <div>
    <label for="confirmPassword">Confirm Password:</label>
    <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="resetPasswordData.confirmPassword" formControlName="confirmPassword">
    <div *ngIf="resetPasswordForm.get('confirmPassword')?.invalid && (resetPasswordForm.get('confirmPassword')?.dirty || resetPasswordForm.get('confirmPassword')?.touched)">
      <div *ngIf="resetPasswordForm.get('confirmPassword')?.errors?.['required']">Confirm Password is required</div>
      <div *ngIf="resetPasswordForm.get('confirmPassword')?.errors?.['passwordMismatch']">Passwords do not match</div>
    </div>
  </div>
  <button type="submit" [disabled]="resetPasswordForm.invalid">Reset Password</button>
</form>
