<div class="container">
    <div class="background">
      <div style="position: relative; width: 100%; height: 100%;">
        <a routerLink="/Recipe">
            <img src="../../../../assets/img/8-uxsqlBvWO37AqkX.png" class="img">
            <span class="link-text"><h2>Recipe</h2></span>
        </a>
      </div>
    </div>
    <div class="background right">
      <div class="">
        <a routerLink="/Meals">
          <img src="../../../assets/img/Universal-Meals-Recipes-Collage.jpg" class="right-img-top">
          <span class="link-text"><h2>Recipe</h2></span>
      </a>
      </div>
      <div class="right-img-bottom">
        <h2>Rectangle 2-2</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fringilla, nulla eget fermentum convallis, massa est malesuada enim, vel scelerisque velit tortor a elit. </p>
      </div>
    </div>
  </div>
  
  