.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.background {
  background-color: #5c665c;
  color: #FFFFFF;
  padding: 20px;
  margin: 10px;
  width: 45%;
  min-width: 300px;
  height: 41vw;
}
.img{
  margin: 10px;
  width: 96%;
  min-width: 200px;
  height: 38vw;
  opacity: 50%;
}
.right {
  display: flex;
  flex-wrap: wrap;
  height: 41vw;
}
.right-img-top {
  background-color: #3CB371;
  color: #FFFFFF;
  padding: 20px;
  margin: 10px;
  width: 100%;
  min-width: 200px;
  height: 18vw;
}
.right-img-bottom {
  background-color: #2E8B57;
  color: #FFFFFF;
  padding: 20px;
  margin: 10px;
  width: 100%;
  min-width: 100px;
  height: 18vw;
}
.link-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px;
  opacity: 70%;
  color: #5c665c;

}