<div class="fluid-container header navbar-white"><h1>Salus</h1></div>
<nav class="navbar navbar-expand-md navbar-white mb-4 ">
  <div class="container-fluid container">
    <a routerLink="/" class="navbar-brand">Home
    </a>
    <button class="navbar-toggler" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" *ngIf="!authToken">
          <a routerLink="/Login" class="nav-link">Login</a>
        </li>
        <li class="nav-item" *ngIf="!authToken">
          <a routerLink="/Register" class="nav-link">Register</a>
        </li>
        <li class="nav-item" *ngIf="authToken" class="dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{ userName }}
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><a routerLink="/ModifyProfile" class="dropdown-item">Modify Profile</a></li>
            <li><a class="dropdown-item" (click)="logout()">Log Out</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
