<div class="fluid-container header navbar-white">
  <h1>Salus</h1>
</div>
<nav class="navbar navbar-expand-md navbar-white mb-4 ">
  <div class="container-fluid container">
    <a routerLink="/" class="navbar-brand">Home
    </a>
    <a class="nav-link mt-1" routerLink="/Recipe" routerLinkActive="active">Recipe</a>
    <a class="nav-link mt-1 ms-3" routerLink="/Meals" routerLinkActive="active">Meal</a>
    <a class="nav-link mt-1 ms-3" routerLink="/AboutUs" routerLinkActive="active">About us</a>
    <a class="nav-link mt-1 ms-3" routerLink="/Admin" *ngIf="isAdmin()" routerLinkActive="active">Admin</a>
    <button class="navbar-toggler" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" *ngIf="!authToken">
          <a routerLink="/Login" class="nav-link">Login</a>
        </li>
        <li class="nav-item" *ngIf="!authToken">
          <a routerLink="/Register" class="nav-link">Register</a>
        </li>
        <li class="nav-item" *ngIf="authToken" class="dropdown">
          <div class="dropdown" style="float:right;">
            <button class="dropbtn">{{userName}}</button>
            <div class="dropdown-content">
              <a routerLink="/ModifyProfile" class="dropdown-item">Modify Profile</a>
              <a class="dropdown-item" (click)="logout()">Log Out</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>