<div class="container">
  <div class="background">
    <div style="position: relative; width: 100%; height: 100%;">
      <a routerLink="/Recipe">
        <img src="../../../assets/img/istockphoto-537422822-612x612.jpg" class="img">
      </a>
    </div>
  </div>
  <div class="background right">
    <div>
      <a routerLink="/Meals">
        <img src="../../../assets/img/healthy-food-selection-healthy-food-selection-fruits-vegetables-seeds-superfood-cereals-gray-background-121936825.jpg" class="right-img-top">
      </a>
    </div>
    <div>
      <a routerLink="/AboutUs">
        <img src="../../../assets/img/istockphoto-1303480001-170667a.jpg" class="right-img-bottom">
      </a>
    </div>
  </div>
</div>