<form [formGroup]="userProfileForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="weight">Weight:</label>
      <input type="number" id="weight" formControlName="weight">
    </div>
  
    <div>
      <label for="height">Height:</label>
      <input type="number" id="height" formControlName="height">
    </div>
  
    <div>
      <label for="birthDate">Birth Date:</label>
      <input type="date" id="birthDate" formControlName="birthDate">
    </div>
  
    <div>
      <label for="gender">Gender:</label>
      <select id="gender" formControlName="gender">
        <option value="0">Male</option>
        <option value="1">Female</option>
      </select>
    </div>
  
    <div>
      <label for="goalWeight">Goal Weight:</label>
      <input type="number" id="goalWeight" formControlName="goalWeight">
    </div>
  
    <button type="submit">Submit</button>
  </form>
  