<div class="container text-center">
    <h1>About us</h1>
<p>Salus is an online platform designed to help you maintain a healthy lifestyle. With Salus, you can:</p>
  <p>Browse a variety of nutritious recipes</p>
  <p>Find recipes that cater to your dietary needs and preferences</p>
  <p>Access detailed instructions and nutritional information for each recipe, including the calorie count</p>
  <p>Track your daily calorie intake to help you stay on track and avoid overeating</p>
<h2>Recipes</h2>
<p>Salus offers a wide range of healthy recipes that cater to various dietary needs and preferences. Whether you're vegan, gluten-free, or looking for low-carb options, Salus has something for everyone.</p>
<p>Each recipe comes with detailed instructions and nutritional information, including the calorie count, so you can make informed decisions about your food choices.</p>
<h2>Calorie Tracker</h2>
<p>Salus also provides a calorie tracker feature that allows you to keep track of your daily calorie intake. This tool is especially useful for those looking to lose weight or maintain a healthy weight, as it helps you stay on track and avoid overeating.</p>
<p>With Salus, you can take control of your health and well-being by making healthier food choices and keeping track of your calorie intake. Whether you're a seasoned health enthusiast or just starting on your wellness journey, Salus is the perfect platform to help you achieve your goals.</p>
</div>