<div class="container-fluid">
  <div class="text-center">
  </div>
  <div>
    <button class="button" (click)="addRecipe()">Add Recipe</button>
    <button class="button ms-2" (click)="addIngredient()">Add Ingredient</button>
  </div>
</div>
<div class="recipe-container">
  <div *ngFor="let recipe of recipes" class="recipe-container">
    <div class="recipe">
      <button type="button" class="btn-close float-right" data-dismiss="modal" aria-label="Close" (click)="deleteRecipe(recipe.id)"></button>
      <h1>{{recipe.name}}</h1>
      <h2>Kcal</h2>
      <ul class="ingredients">
        <li>{{recipe.kcal}}</li>
      </ul>
      <h2>Protein</h2>
      <ul class="ingredients">
        <li>{{recipe.protein}}</li>
      </ul>
      <h2>Fat</h2>
      <ul class="ingredients">
        <li>{{recipe.fat}}</li>
      </ul>
      <h2>Carbohydrate</h2>
      <ul class="ingredients">
        <li>{{recipe.carbohydrate}}</li>
      </ul>
      <div class="d-flex">
        <button *ngFor="let tag of recipe.tags" disabled class="btn btn-success mt-2 ms-2">{{tag.name}}</button>
      </div>
      <div class="mt-2">
        <button class="btn btn-primary" (click)="addMeals(recipe.id)">Add meals</button>
        <button class="btn btn-primary ms-2" (click)="addTag(recipe.id)">Add tag</button>
      </div>
    </div>
  </div>
</div>