<div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Add Ingredient</h5>
      <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" (click)="Close()"></button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label>Name:</label>
        <input type="text" class="form-control" [(ngModel)]="data.name" [ngClass]="{'is-invalid': !data.name}">
        <div class="invalid-feedback">Name is required.</div>
      </div>
      <div class="form-group">
        <label>Kcal:</label>
        <input type="number" class="form-control" [(ngModel)]="data.kcal" [ngClass]="{'is-invalid': !data.kcal}">
        <div class="invalid-feedback">Kcal is required.</div>
      </div>
      <div class="form-group">
        <label>Protein:</label>
        <input type="number" class="form-control" [(ngModel)]="data.protein" [ngClass]="{'is-invalid': !data.protein}">
        <div class="invalid-feedback">Protein is required.</div>
      </div>
      <div class="form-group">
        <label>Fat:</label>
        <input type="number" class="form-control" [(ngModel)]="data.fat" [ngClass]="{'is-invalid': !data.fat}">
        <div class="invalid-feedback">Fat is required.</div>
      </div>
      <div class="form-group">
        <label>Carbohydrate:</label>
        <input type="number" class="form-control" [(ngModel)]="data.carbohydrate" [ngClass]="{'is-invalid': !data.carbohydrate}">
        <div class="invalid-feedback">Carbohydrate is required.</div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="Close()">Close</button>
      <button type="button" class="btn btn-primary" (click)="SaveIngredient()">Save changes</button>
    </div>
  </div>