<div class="container">
  <div class="background">
    <div class="left-img">
      
    </div>
  </div>
  <div class="background right">
    <div class="right-img-top">
      <h2>Rectangle 2-1</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fringilla, nulla eget fermentum convallis, massa est malesuada enim, vel scelerisque velit tortor a elit. </p>
    </div>
    <div class="right-img-bottom">
      <h2>Rectangle 2-2</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fringilla, nulla eget fermentum convallis, massa est malesuada enim, vel scelerisque velit tortor a elit. </p>
    </div>
  </div>
</div>
<img src="/Salus/src/assets/Salus_logo-removebg-preview.png" alt="asd">
