<div class="container">
  <div class="rectangle">
    <h2>Rectangle 1</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fringilla, nulla eget fermentum convallis, massa est malesuada enim, vel scelerisque velit tortor a elit. </p>
  </div>
  <div class="rectangle rectangle-2">
    <div class="rectangle-2-1">
      <h2>Rectangle 2-1</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fringilla, nulla eget fermentum convallis, massa est malesuada enim, vel scelerisque velit tortor a elit. </p>
    </div>
    <div class="rectangle-2-2">
      <h2>Rectangle 2-2</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fringilla, nulla eget fermentum convallis, massa est malesuada enim, vel scelerisque velit tortor a elit. </p>
    </div>
  </div>
</div>
